%p That's it! Thank you for your participation.

%p
  Your code is: 
  %strong= @participant.code 

%p If you have any questions, or would like to know about the outcome of the study, please contact us at nevins@fas.harvard.edu or at becker@fas.harvard.edu 