:textile
  Okay, you've learned your new language. Feel free to take a couple of minutes to relax.

  In the next few minutes, you will be tested on what you've learned. Some of the words will be repeated from before, and some will be new.

  You will hear the singulars only, and you will be asked to  supply the plural, speaking clearly to the microphone. If you don't know what the plural is, simply say "I don't know."

= render 'continue'