:textile
	These were three words of the language you will learn today. Don't worry--you will not be asked to memorize specific forms, nor to associate any of the words with their pictures.
	
	In the next three screens, you will hear these words again, but only in the singular. You will be asked to supply the plural by typing it into the box. If you don't know what the plural is, you can leave the field blank.

= render 'continue'