/* line 14, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/_core.sass */
body {
  font-family: Georgia, Times, serif;
  background-color: #fafafa;
  width: 700px;
  margin: 1em auto;
}

/* line 7, ../../app/stylesheets/_core.sass */
#main {
  border: 1px solid black;
  padding: 1em;
  background-color: white;
}

/* line 12, ../../app/stylesheets/_core.sass */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em auto;
}
/* line 16, ../../app/stylesheets/_core.sass */
h1 a {
  color: black;
}

/* line 19, ../../app/stylesheets/_core.sass */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

/* line 24, ../../app/stylesheets/_core.sass */
p {
  line-height: 130%;
  margin: 0.5em 0;
}

/* line 28, ../../app/stylesheets/_core.sass */
a {
  text-decoration: none;
}
/* line 30, ../../app/stylesheets/_core.sass */
a:hover {
  text-decoration: underline;
}

/* line 33, ../../app/stylesheets/_core.sass */
strong {
  font-weight: bold;
}

/* line 36, ../../app/stylesheets/_core.sass */
#footer {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.6em;
  text-align: right;
  margin: 0.5em 0;
  color: #555555;
}
/* line 42, ../../app/stylesheets/_core.sass */
#footer a {
  color: #555555;
}

/* line 1, ../../app/stylesheets/_experiment.sass */
form.participant_name {
  background-color: #fafafa;
  padding: 0.5em;
}
/* line 4, ../../app/stylesheets/_experiment.sass */
form.participant_name label {
  font-weight: bold;
}
/* line 6, ../../app/stylesheets/_experiment.sass */
form.participant_name input[type='submit'] {
  float: right;
}

/* line 9, ../../app/stylesheets/_experiment.sass */
form.plural_form {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 12, ../../app/stylesheets/_experiment.sass */
ul {
  margin-top: 1em;
}
/* line 14, ../../app/stylesheets/_experiment.sass */
ul li {
  line-height: 130%;
  border-top: 1px solid #bbbbbb;
  margin-top: 1em;
  padding-top: 1em;
}

/* line 21, ../../app/stylesheets/_experiment.sass */
span.item_strong {
  font-weight: bold;
  cursor: pointer;
}
/* line 24, ../../app/stylesheets/_experiment.sass */
span.item_strong:hover {
  background-color: #fafafa;
}

/* line 28, ../../app/stylesheets/_experiment.sass */
.stem .item_text {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  text-align: center;
}
/* line 31, ../../app/stylesheets/_experiment.sass */
.stem .item_text img {
  margin-top: 1em;
}
/* line 33, ../../app/stylesheets/_experiment.sass */
.stem .item_text img.plural_img {
  margin-right: 1em;
}
/* line 35, ../../app/stylesheets/_experiment.sass */
.stem .singular {
  width: 275px;
}
/* line 37, ../../app/stylesheets/_experiment.sass */
.stem .plural {
  width: 375px;
}
