/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../../app/stylesheets/_formtastic.sass */
form.formtastic input[type=text], form.formtastic textarea, form.formtastic input[type=password] {
  width: 250px;
  font-family: Georgia, Times, serif;
  font-size: 1em;
}
/* line 8, ../../app/stylesheets/_formtastic.sass */
form.formtastic textarea {
  height: 4em;
}
/* line 11, ../../app/stylesheets/_formtastic.sass */
form.formtastic input[type=submit] {
  left: 130px;
  position: relative;
  margin-top: 10px;
  font-size: 1em;
  font-family: Georgia, Times, serif;
}
/* line 18, ../../app/stylesheets/_formtastic.sass */
form.formtastic label {
  width: 120px;
  padding: 4px 10px 0 0;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  text-align: right;
  position: relative;
  top: 0px;
  float: left;
}
/* line 31, ../../app/stylesheets/_formtastic.sass */
form.formtastic p.inline-errors {
  font-size: 0.7em;
  display: inline;
  line-height: 120%;
  margin-left: 10px;
  font-weight: normal;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #cc0000;
}
/* line 40, ../../app/stylesheets/_formtastic.sass */
form.formtastic li.boolean {
  left: 130px;
}
/* line 42, ../../app/stylesheets/_formtastic.sass */
form.formtastic li.boolean label {
  text-align: left;
}
/* line 46, ../../app/stylesheets/_formtastic.sass */
form.formtastic fieldset ol li {
  display: block;
  position: relative;
  margin-bottom: 7px;
}

/* line 1, ../../app/stylesheets/_core.sass */
body {
  font-family: Georgia, Times, serif;
  background-color: #fafafa;
  width: 700px;
  margin: 1em auto;
}

/* line 7, ../../app/stylesheets/_core.sass */
#main {
  border: 1px solid black;
  padding: 1em;
  background-color: white;
  overflow: hidden;
  *zoom: 1;
}

/* line 13, ../../app/stylesheets/_core.sass */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em auto;
}
/* line 17, ../../app/stylesheets/_core.sass */
h1 a {
  color: black;
}

/* line 20, ../../app/stylesheets/_core.sass */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

/* line 25, ../../app/stylesheets/_core.sass */
h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0;
}

/* line 30, ../../app/stylesheets/_core.sass */
p {
  line-height: 130%;
  margin: 0.5em 0;
}

/* line 34, ../../app/stylesheets/_core.sass */
a {
  text-decoration: none;
}
/* line 36, ../../app/stylesheets/_core.sass */
a:hover {
  text-decoration: underline;
}

/* line 39, ../../app/stylesheets/_core.sass */
strong {
  font-weight: bold;
}

/* line 42, ../../app/stylesheets/_core.sass */
#footer {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.6em;
  margin: 0.5em 0;
  color: #555555;
}
/* line 45, ../../app/stylesheets/_core.sass */
#footer span.copy {
  float: right;
  clear: both;
}
/* line 50, ../../app/stylesheets/_core.sass */
#footer a {
  color: #555555;
}

/* line 53, ../../app/stylesheets/_core.sass */
#flash {
  background-color: #666666;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

/* line 1, ../../app/stylesheets/_experiment.sass */
label.strong {
  font-weight: bold;
}

/* line 4, ../../app/stylesheets/_experiment.sass */
.continue {
  background-color: #eeeeee;
  padding: 0.5em;
  margin-top: 0.5em;
}
/* line 8, ../../app/stylesheets/_experiment.sass */
.continue fieldset.submit {
  float: right;
  clear: both;
}
/* line 11, ../../app/stylesheets/_experiment.sass */
.continue span.phase {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #888888;
  font-size: 0.8em;
  font-weight: bold;
  vertical-align: middle;
}

/* line 18, ../../app/stylesheets/_experiment.sass */
.inline {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 23, ../../app/stylesheets/_experiment.sass */
.intro_inputs {
  float: left;
  width: 315px;
  background-color: #eeeeee;
  padding: 0.5em;
  margin-right: 1em;
}

/* line 31, ../../app/stylesheets/_experiment.sass */
form.new_participant fieldset {
  margin-top: 1em;
}
/* line 34, ../../app/stylesheets/_experiment.sass */
form.new_participant fieldset.submit {
  float: right;
}

/* line 37, ../../app/stylesheets/_experiment.sass */
form.plural_form {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 40, ../../app/stylesheets/_experiment.sass */
ul {
  margin-top: 1em;
}
/* line 42, ../../app/stylesheets/_experiment.sass */
ul li {
  line-height: 130%;
  border-top: 1px solid #bbbbbb;
  margin-top: 1em;
  padding-top: 1em;
}

/* line 48, ../../app/stylesheets/_experiment.sass */
.progress {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  font-size: 10px;
  color: #444444;
}
/* line 53, ../../app/stylesheets/_experiment.sass */
.progress .progress_container {
  margin-left: 5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  height: 9px;
  width: 100px;
  border: 1px solid #444444;
}
/* line 60, ../../app/stylesheets/_experiment.sass */
.progress .progress_container .progress_bar {
  background: #444444;
  height: inherit;
}

/* line 64, ../../app/stylesheets/_experiment.sass */
span.item_strong {
  font-weight: bold;
}

/* line 68, ../../app/stylesheets/_experiment.sass */
.paradigm .item_text {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  text-align: center;
}
/* line 72, ../../app/stylesheets/_experiment.sass */
.paradigm .item_text img {
  margin-top: 1em;
}
/* line 74, ../../app/stylesheets/_experiment.sass */
.paradigm .item_text img.plural_img {
  margin-right: 1em;
}
/* line 76, ../../app/stylesheets/_experiment.sass */
.paradigm #singular_col {
  width: 275px;
}
/* line 78, ../../app/stylesheets/_experiment.sass */
.paradigm #plural_col {
  width: 375px;
}

/* line 1, ../../app/stylesheets/_results.sass */
.inline_col {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  width: 310px;
  margin-top: 0;
  vertical-align: top;
}

/* line 7, ../../app/stylesheets/_results.sass */
#variable {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid silver;
}

/* line 12, ../../app/stylesheets/_results.sass */
#code {
  margin-bottom: 1em;
}

/* line 15, ../../app/stylesheets/_results.sass */
.analytics {
  padding: 1em;
  background-color: #eeeeee;
  margin-bottom: 1em;
}

/* line 20, ../../app/stylesheets/_results.sass */
span.toggle_results {
  font-size: 12px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  cursor: pointer;
  font-weight: normal;
}
/* line 25, ../../app/stylesheets/_results.sass */
span.toggle_results:hover {
  text-decoration: underline;
}

/* line 28, ../../app/stylesheets/_results.sass */
ul.phase_items {
  display: none;
  margin-bottom: 2em;
}

/* line 32, ../../app/stylesheets/_results.sass */
.result {
  overflow: hidden;
  *zoom: 1;
}
/* line 33, ../../app/stylesheets/_results.sass */
.result img {
  float: left;
  margin-right: 1em;
}

/* line 38, ../../app/stylesheets/_results.sass */
.correct {
  color: green;
  font-weight: bold;
}

/* line 41, ../../app/stylesheets/_results.sass */
.incorrect {
  color: red;
  font-weight: bold;
}

/* line 2, ../../app/stylesheets/_paradigm.sass */
.paradigm dl {
  margin-bottom: 0.5em;
}
/* line 4, ../../app/stylesheets/_paradigm.sass */
.paradigm dt {
  float: left;
  width: 150px;
  font-weight: bold;
}
/* line 8, ../../app/stylesheets/_paradigm.sass */
.paradigm dd {
  display: block;
  margin-bottom: 0.5em;
}
