form#new_participant
  background-color: $lightGray
  padding: 0.5em
  label
    font-weight: bold
  input[type='submit']
    float: right

ul
  margin-top: 1em
  li
    line-height: 130%
    border-top: 1px solid #bbb
    margin-top: 1em
    padding-top: 1em
  

.stem
  .item_text
    +inline-block
    width: 49%
    text-align: center
    img
      margin-top: 1em
      &.plural
        margin-right: 1em