fieldset.continue
  background-color: $lightGray
  padding: 0.5em
  margin-top: 0.5em
  label
    font-weight: bold
  input[type='submit']
    float: right
    
form.plural_form
  +inline-block

ul
  margin-top: 1em
  li
    line-height: 130%
    border-top: 1px solid #bbb
    margin-top: 1em
    padding-top: 1em
  

span.item_strong
  font-weight: bold
  cursor: pointer
  &:hover 
    background-color: #ffa

.stem
  .item_text
    +inline-block
    text-align: center
    img
      margin-top: 1em
      &.plural_img
        margin-right: 1em
  #singular_col
    width: 275px
  #plural_col
    width: 375px