body
  direction: rtl


#footer
  span.copy
    float: left
    clear: both


.continue
  fieldset.submit
    float: left
    clear: both


#intro
  ol
    li
      list-style: decimal
      margin: 1em 2em 0em 0em


.martian_spelling ul
  li
    margin: 1em 2em 0em 0em
    list-style-type: disc


form.new_participant
  fieldset.submit
    float: left


.paradigm
  .item_text
    margin-bottom: 2em



form.finished_form
  
  label
    text-align: right
    float: right
    
  input[type=text], textarea
  
  input[type=submit]
    margin-left: 260px
    left: 0
    
  fieldset ol li
    margin-bottom: 1em
    
    &.radio
    ol
      li
    
  
