- content_tag_for(:li, result) do
  = image_tag result.clipart.singular_file, :width => "50"
  .plural
    %strong Plural:
    = result.paradigm.human_plural
  - unless result.experiment_phase == 'learning'
    .reponse
      %strong Response:
      = result.response
    - if result.paradigm.human_plural == result.response
      .correct Correct!
    - else
      .incorrect Incorrect