%ul#fixed.inline_col
  %h2 Fixed AGL 
  - @fixes.each do |p|
    %li= link_to p.name, result_url(p)
  
%ul#variable.inline_col
  %h2 Variable AGL
  - @vars.each do |p|
    %li= link_to p.name, result_url(p)