:textile
  That's it! Thank you for your participation.

  Your code is: *#{ @participant.code }*. Please copy and paste this code into Mechanical Turk.

  If you have any questions, or would like to know about the outcome of the study, please contact us at info@phonologist.org