:textile
  In this survey, you will learn words and their plurals in a made-up language.

  In the first phase, you will learn some words of this new language. In the second phase, we will ask you to apply what you’ve learned: You will be given words in the singular, and you’ll be asked to supply the plural. Please note that we are not interested in a correct answer, but rather in what feels natural to you.

  To understand how this works, let’s start with a little example. In each of the next three screens, you will be introduced to words and their plurals. Please listen attentively and try to figure out how the plural is formed in this language. Try repeating the words aloud after you hear them.

= render 'continue'