:textile
  Okay, now we're going to learn how to make plurals in Martian.
  
  We'll start by showing you what Martian is like, and we'll gradually start testing you. We hope you get the hang of it!

= render 'continue'