.martian_spelling
  :textile
    h2. How to spell Martian

    _Your spelling:_ *#{ @participant.perception }*

    Here are some Martian spelling hints:
  
    * The 'a' sound is just like "wash"
    * The 'u' sound is just like "Luke"
    * The 'i' sound is just like "pizza"
    * The 'o' sound is just like "go"
    * The 'e' sound is just like "hey"
    * The '-' sound is just like "puh-lease"
  
    So the Martian spelling of the word you heard is *larb-d*. Try to spell like a Martian!
  
%form.ajax_submit{ :action => experiment_learning_url(@participant), :method => "get" }
  %fieldset.continue
    %fieldset.submit
      %input{ :value => "Continue &raquo;", :type => "submit" }