.martian_spelling
  :textile
    h2. איך כותבים חייזרית?

    _אתם כתבתם:_ *#{ @participant.perception }*

    בגדול, כותבים חייזרית כמו עברית:
  
    * האות א' כמו במילים אפרסק, אהבה, ארגז
    * האות ו' כמו במילים קודקוד, קיפוד, סוד
    * האות י' כמו במילים חיריק, מבריק, תיק
  
    לכן את המילה *שלום* כותבים *שלום* גם בחייזרית.
  
%form.ajax_submit{ :action => experiment_learning_url(@participant), :method => "get" }
  %fieldset.continue
    %fieldset.submit
      %input{ :value => "לדף הבא &raquo;", :type => "submit" }