- div_for item do
  .singular
    This is a
    %strong= item.singular
    = image_tag item.clipart.singular_file, :width => "100"
    
  .plural
    and these are
    %strong= item.plural
    = (image_tag item.clipart.plural_file, :width => "50") * 3
  